In [1]:
# importando bibliotecas
import pandas as pd
import numpy as np
# import re

## Carregando os dados

In [2]:
# Lendo os dados
open_masc = pd.read_csv('data/men_main_21.1.csv', sep=',', low_memory=False)

In [3]:
# Primeira visualização do Dataframe
open_masc.head(10)

,id,first_name,lastname,placing,country,continent,age,affiliate,height,weight,points,21.1,21.1 time,21.2,21.2 time,21.3,21.3 time,21.4,weight lifted
0,0,JEFFRE,ADLER,1,Canada,North America,27,CrossFit Wonderland,69 in,197 lb,101,20th (11:55),605,8th (9:14),225,27th (8:15),180,46th (317 lbs),317
1,1,SCOTT,PANCHIK,2,United States,North America,33,CrossFit Mentality,69 in,187 lb,141,33rd (12:25),605,47th (9:52),225,5th (7:48),180,56th (316 lbs),316
2,2,TRAVIS,MEAD,3,United States,North America,34,Iron Valley CrossFit,73 in,205 lb,165,87th (13:02),605,24th (9:38),225,48th (8:26),180,6th (345 lbs),345
3,3,SAXON,PANCHIK,4,United States,North America,25,CrossFit Cliffside,69 in,180 lb,217,5th (11:25),605,68th (9:59),225,87th (8:41),180,57th (316 lbs),316
4,4,RICHARD,FRONING JR.,5,United States,North America,33,CrossFit Mayhem,69 in,194 lb,254,58th (12:45),605,91st (10:04),225,5th (7:48),180,100th (312 lbs),312
5,5,NOAH,OHLSEN,6,United States,North America,30,Peak 360 CrossFit,67 in,190 lb,272,11th (11:41),605,21st (9:33),225,2nd (7:44),180,238th (301 lbs),301
6,6,SAMUEL,COURNOYER,7,Canada,North America,25,CrossFit Mayhem,180 cm,205 lb,276,158th (13:27),605,79th (10:02),225,20th (8:09),180,19th (328 lbs),328
7,7,COLE,GREASHABER,8,United States,North America,21,CrossFit Lee's Summit (LS),72 in,206 lb,403,82nd (13:01),605,68th (9:59),225,46th (8:25),180,207th (303 lbs),303
8,8,AGUSTIN,RICHELME,9,Argentina,South America,24,NaN,173 cm,83 kg,417,30th (12:19),605,137th (10:15),225,1st (7:40),180,249th (300 lbs),300
9,9,OLEG,LASCENKO,10,United Kingdom,Europe,23,CrossFit Abu Dhabi,175 cm,92 kg,428,53rd (12:43),605,22nd (9:34),225,102nd (8:46),180,251st (300 lbs),300

In [4]:
# Verificando o "tamanho" do df
open_masc.shape

(137464, 19)

In [5]:
open_masc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137464 entries, 0 to 137463
Data columns (total 19 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   id             137464 non-null  int64
 1   first_name     137463 non-null  object
 2   lastname       137456 non-null  object
 3   placing        137464 non-null  object
 4   country        137464 non-null  object
 5   continent      137464 non-null  object
 6   age            137464 non-null  object
 7   affiliate      112681 non-null  object
 8   height         87195 non-null   object
 9    weight        119239 non-null  object
 10  points         137464 non-null  object
 11  21.1           103062 non-null  object
 12  21.1 time      43026 non-null   object
 13  21.2           106708 non-null  object
 14  21.2 time      96154 non-null   object
 15  21.3           101174 non-null  object
 16  21.3 time      51893 non-null   object
 17  21.4           117637 non-null  object
 18  weight lifted  82201 non-null   object
dtypes: int64(1), object(18)
memory usage: 19.9+ MB

In [6]:
# Verificando quais são as colunas originais do df
open_masc.columns

Index(['id', 'first_name', 'lastname', 'placing', 'country', 'continent',
       'age', 'affiliate', 'height ', ' weight', 'points', '21.1', '21.1 time',
       '21.2', '21.2 time', '21.3', '21.3 time', '21.4', 'weight lifted'],
      dtype='object')

In [7]:
open_masc.isnull().sum()

id                   0
first_name           1
lastname             8
placing              0
country              0
continent            0
age                  0
affiliate        24783
height           50269
 weight          18225
points               0
21.1             34402
21.1 time        94438
21.2             30756
21.2 time        41310
21.3             36290
21.3 time        85571
21.4             19827
weight lifted    55263
dtype: int64

In [8]:
# Primeira descrição dos dados numéricos, 
# verifica-se que algumas colunas de valores estão em string e 
# precisam ser convertidos para possibilitar que os calculos sejam feitos
open_masc.describe()

                  id
count  137464.000000
mean    68731.500000
std     39682.583039
min         0.000000
25%     34365.750000
50%     68731.500000
75%    103097.250000
max    137463.000000

In [9]:
# Visualizando todos os países listados
# Verificou-se a necessidade de remover uma linha com dados inconsistentes
country = np.array(open_masc['country'])
unique_country = np.unique(country)
print(unique_country)

['57646' 'Afghanistan' 'Albania' 'Algeria' 'Andorra' 'Angola' 'Argentina'
 'Armenia' 'Australia' 'Austria' 'Azerbaijan' 'Bahamas' 'Bahrain'
 'Bangladesh' 'Barbados' 'Belarus' 'Belgium' 'Belize' 'Benin' 'Bolivia'
 'Bosnia and Herzegovina' 'Botswana' 'Brazil' 'Brunei Darussalam'
 'Bulgaria' 'Cambodia' 'Cameroon' 'Canada' 'Cape Verde' 'Chile' 'China'
 'Colombia' 'Congo, The Democratic Republic of the' 'Costa Rica' 'Croatia'
 'Cyprus' 'Czech Republic' "Côte d'Ivoire" 'Denmark' 'Djibouti' 'Dominica'
 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador' 'Estonia' 'Ethiopia'
 'Fiji' 'Finland' 'France' 'Georgia' 'Germany' 'Ghana' 'Greece'
 'Guatemala' 'Guinea' 'Guyana' 'Haiti' 'Honduras' 'Hungary' 'Iceland'
 'India' 'Indonesia' 'Iran' 'Iraq' 'Ireland' 'Israel' 'Italy' 'Jamaica'
 'Japan' 'Jordan' 'Kazakhstan' 'Kenya' 'Korea, Republic of' 'Kosovo'
 'Kuwait' 'Kyrgyzstan' 'Laos' 'Latvia' 'Lebanon' 'Libya' 'Liechtenstein'
 'Lithuania' 'Luxembourg' 'Macedonia' 'Madagascar' 'Malawi' 'Malaysia'
 'Maldives' 'Malta' 'Mauritius' 'Mexico' 'Moldova' 'Mongolia' 'Montenegro'
 'Morocco' 'Mozambique' 'Namibia' 'Nauru' 'Nepal' 'Netherlands'
 'New Zealand' 'Nicaragua' 'Nigeria' 'Norway' 'Oman' 'Pakistan'
 'Palestinian Territory' 'Panama' 'Papua New Guinea' 'Paraguay' 'Peru'
 'Philippines' 'Poland' 'Portugal' 'Qatar' 'Romania' 'Russian Federation'
 'Saint Kitts and Nevis' 'Saint Lucia' 'Samoa' 'San Marino' 'Saudi Arabia'
 'Senegal' 'Serbia' 'Seychelles' 'Singapore' 'Slovakia' 'Slovenia'
 'Somalia' 'South Africa' 'Spain' 'Sri Lanka' 'Sudan' 'Suriname' 'Sweden'
 'Switzerland' 'Syrian Arab Republic' 'Tanzania' 'Thailand' 'Tonga'
 'Trinidad and Tobago' 'Tunisia' 'Turkey' 'Uganda' 'Ukraine'
 'United Arab Emirates' 'United Kingdom' 'United States' 'Uruguay'
 'Uzbekistan' 'Vanuatu' 'Venezuela' 'Viet Nam' 'Yemen' 'Zambia' 'Zimbabwe']

In [10]:
# Conferindo os continentes listados, 
# verificou-se a necessidade de remover dados inconsistentes
continent = np.array(open_masc['continent'])
unique_continent = np.unique(continent)
print(unique_continent)

['Africa' 'Asia' 'Europe' 'North America' 'Oceania' 'South America'
 'United Kingdom']

### Limpeza os dados

In [11]:
# Novo Dataframe apenas com as colunas que serão analisadas
df_masc = open_masc[['first_name', 'lastname', 'country', 
'continent', 'age', 'affiliate', 'points', 'weight lifted']]
df_masc.head(10)

,first_name,lastname,country,continent,age,affiliate,points,weight lifted
0,JEFFRE,ADLER,Canada,North America,27,CrossFit Wonderland,101,317
1,SCOTT,PANCHIK,United States,North America,33,CrossFit Mentality,141,316
2,TRAVIS,MEAD,United States,North America,34,Iron Valley CrossFit,165,345
3,SAXON,PANCHIK,United States,North America,25,CrossFit Cliffside,217,316
4,RICHARD,FRONING JR.,United States,North America,33,CrossFit Mayhem,254,312
5,NOAH,OHLSEN,United States,North America,30,Peak 360 CrossFit,272,301
6,SAMUEL,COURNOYER,Canada,North America,25,CrossFit Mayhem,276,328
7,COLE,GREASHABER,United States,North America,21,CrossFit Lee's Summit (LS),403,303
8,AGUSTIN,RICHELME,Argentina,South America,24,NaN,417,300
9,OLEG,LASCENKO,United Kingdom,Europe,23,CrossFit Abu Dhabi,428,300

In [12]:
# removendo inconsistencias de paises e continentes
filtro1 = df_masc['country'] != '57646'
df_masc = df_masc[filtro1]

In [13]:
country = np.array(df_masc['country'])
unique_country = np.unique(country)
print(unique_country)

['Afghanistan' 'Albania' 'Algeria' 'Andorra' 'Angola' 'Argentina'
 'Armenia' 'Australia' 'Austria' 'Azerbaijan' 'Bahamas' 'Bahrain'
 'Bangladesh' 'Barbados' 'Belarus' 'Belgium' 'Belize' 'Benin' 'Bolivia'
 'Bosnia and Herzegovina' 'Botswana' 'Brazil' 'Brunei Darussalam'
 'Bulgaria' 'Cambodia' 'Cameroon' 'Canada' 'Cape Verde' 'Chile' 'China'
 'Colombia' 'Congo, The Democratic Republic of the' 'Costa Rica' 'Croatia'
 'Cyprus' 'Czech Republic' "Côte d'Ivoire" 'Denmark' 'Djibouti' 'Dominica'
 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador' 'Estonia' 'Ethiopia'
 'Fiji' 'Finland' 'France' 'Georgia' 'Germany' 'Ghana' 'Greece'
 'Guatemala' 'Guinea' 'Guyana' 'Haiti' 'Honduras' 'Hungary' 'Iceland'
 'India' 'Indonesia' 'Iran' 'Iraq' 'Ireland' 'Israel' 'Italy' 'Jamaica'
 'Japan' 'Jordan' 'Kazakhstan' 'Kenya' 'Korea, Republic of' 'Kosovo'
 'Kuwait' 'Kyrgyzstan' 'Laos' 'Latvia' 'Lebanon' 'Libya' 'Liechtenstein'
 'Lithuania' 'Luxembourg' 'Macedonia' 'Madagascar' 'Malawi' 'Malaysia'
 'Maldives' 'Malta' 'Mauritius' 'Mexico' 'Moldova' 'Mongolia' 'Montenegro'
 'Morocco' 'Mozambique' 'Namibia' 'Nauru' 'Nepal' 'Netherlands'
 'New Zealand' 'Nicaragua' 'Nigeria' 'Norway' 'Oman' 'Pakistan'
 'Palestinian Territory' 'Panama' 'Papua New Guinea' 'Paraguay' 'Peru'
 'Philippines' 'Poland' 'Portugal' 'Qatar' 'Romania' 'Russian Federation'
 'Saint Kitts and Nevis' 'Saint Lucia' 'Samoa' 'San Marino' 'Saudi Arabia'
 'Senegal' 'Serbia' 'Seychelles' 'Singapore' 'Slovakia' 'Slovenia'
 'Somalia' 'South Africa' 'Spain' 'Sri Lanka' 'Sudan' 'Suriname' 'Sweden'
 'Switzerland' 'Syrian Arab Republic' 'Tanzania' 'Thailand' 'Tonga'
 'Trinidad and Tobago' 'Tunisia' 'Turkey' 'Uganda' 'Ukraine'
 'United Arab Emirates' 'United Kingdom' 'United States' 'Uruguay'
 'Uzbekistan' 'Vanuatu' 'Venezuela' 'Viet Nam' 'Yemen' 'Zambia' 'Zimbabwe']

In [14]:
continent = np.array(df_masc['continent'])
unique_continent = np.unique(continent)
print(unique_continent)

['Africa' 'Asia' 'Europe' 'North America' 'Oceania' 'South America']

In [15]:
# Convertendo a coluna age (idade) de 'string' para numérico
df_masc['age'] = pd.to_numeric(df_masc['age'])
df_masc.head(10)

,first_name,lastname,country,continent,age,affiliate,points,weight lifted
0,JEFFRE,ADLER,Canada,North America,27,CrossFit Wonderland,101,317
1,SCOTT,PANCHIK,United States,North America,33,CrossFit Mentality,141,316
2,TRAVIS,MEAD,United States,North America,34,Iron Valley CrossFit,165,345
3,SAXON,PANCHIK,United States,North America,25,CrossFit Cliffside,217,316
4,RICHARD,FRONING JR.,United States,North America,33,CrossFit Mayhem,254,312
5,NOAH,OHLSEN,United States,North America,30,Peak 360 CrossFit,272,301
6,SAMUEL,COURNOYER,Canada,North America,25,CrossFit Mayhem,276,328
7,COLE,GREASHABER,United States,North America,21,CrossFit Lee's Summit (LS),403,303
8,AGUSTIN,RICHELME,Argentina,South America,24,NaN,417,300
9,OLEG,LASCENKO,United Kingdom,Europe,23,CrossFit Abu Dhabi,428,300

In [16]:
df_masc['weight lifted'] = df_masc['weight lifted'].fillna('0')
df_masc.head(10)

,first_name,lastname,country,continent,age,affiliate,points,weight lifted
0,JEFFRE,ADLER,Canada,North America,27,CrossFit Wonderland,101,317
1,SCOTT,PANCHIK,United States,North America,33,CrossFit Mentality,141,316
2,TRAVIS,MEAD,United States,North America,34,Iron Valley CrossFit,165,345
3,SAXON,PANCHIK,United States,North America,25,CrossFit Cliffside,217,316
4,RICHARD,FRONING JR.,United States,North America,33,CrossFit Mayhem,254,312
5,NOAH,OHLSEN,United States,North America,30,Peak 360 CrossFit,272,301
6,SAMUEL,COURNOYER,Canada,North America,25,CrossFit Mayhem,276,328
7,COLE,GREASHABER,United States,North America,21,CrossFit Lee's Summit (LS),403,303
8,AGUSTIN,RICHELME,Argentina,South America,24,NaN,417,300
9,OLEG,LASCENKO,United Kingdom,Europe,23,CrossFit Abu Dhabi,428,300

In [17]:
# Iniciando o processo para converter weight_lift para numerico
def substitui_lbs(value):
    x = value.replace(' lbs', '')
    x = float(x) / 2.205
    return(x)

In [18]:
def substitui_kg(value):
    x = value.replace(' kg', '')
    return(x)

In [19]:
df_masc['weight lifted'] = df_masc['weight lifted'].apply(substitui_kg)

In [20]:
def remove_peso_invalido(value):
    if ('(--)' in value):
        value = '0'
    return value

In [21]:
df_masc['weight lifted'] = df_masc['weight lifted'].apply(remove_peso_invalido)

In [22]:
df_masc['weight lifted'] = df_masc['weight lifted'].apply(substitui_lbs)

In [23]:
# Convertendo a coluna weight lifted de 'string' para numérico
df_masc['weight lifted'] = pd.to_numeric(df_masc['weight lifted'])

In [24]:
df_masc['weight lifted']

0         143.764172
1         143.310658
2         156.462585
3         143.310658
4         141.496599
             ...
137459      0.000000
137460      0.000000
137461      0.000000
137462      0.000000
137463      0.000000
Name: weight lifted, Length: 137463, dtype: float64

In [25]:
# Inicio do processo para converter points para numérico
def remove_pontos_invalidos(value):
    if ('rd' in value):
        value = '0'
    elif ('lb' in value):
        value = '0'
    elif ('kg' in value):
        value = '0'
    elif ('th' or 'st' in value):
        value = '0'
    return value

In [26]:
df_masc['points'] = df_masc['points'].apply(remove_pontos_invalidos)

In [27]:
# Convertendo a coluna points lifted de 'string' para numérico
df_masc['points'] = pd.to_numeric(df_masc['points'])

In [28]:
df_masc['weight lifted']

0         143.764172
1         143.310658
2         156.462585
3         143.310658
4         141.496599
             ...
137459      0.000000
137460      0.000000
137461      0.000000
137462      0.000000
137463      0.000000
Name: weight lifted, Length: 137463, dtype: float64

In [29]:
df_masc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 137463 entries, 0 to 137463
Data columns (total 8 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   first_name     137462 non-null  object
 1   lastname       137456 non-null  object
 2   country        137463 non-null  object
 3   continent      137463 non-null  object
 4   age            137463 non-null  int64
 5   affiliate      112680 non-null  object
 6   points         137463 non-null  int64
 7   weight lifted  137463 non-null  float64
dtypes: float64(1), int64(2), object(5)
memory usage: 9.4+ MB

In [30]:
df_masc.isna().sum()

first_name           1
lastname             7
country              0
continent            0
age                  0
affiliate        24783
points               0
weight lifted        0
dtype: int64

In [31]:
# Encontrando quem tem first_name nulo
df_masc[pd.isna(df_masc['first_name'])]

,first_name,lastname,country,continent,age,affiliate,points,weight lifted
93138,NaN,YEONGDON,"Korea, Republic of",Asia,28,CrossFit 660,0,0.0

In [32]:
# Encontrando quem tem lastname nulo
df_masc[pd.isna(df_masc['lastname'])]

,first_name,lastname,country,continent,age,affiliate,points,weight lifted
2040,HYEONJONG,NaN,"Korea, Republic of",Asia,31,CrossFit Zest,0,114.285714
7732,YOUNGSEON,NaN,"Korea, Republic of",Asia,23,Golden Crown CrossFit Seodaemun,0,97.505669
19017,TAKSEOK,NaN,"Korea, Republic of",Asia,41,CrossFit Geumchon,0,97.505669
73598,MICHAEL,NaN,Canada,North America,51,CrossFit Calgary,0,0.000000
81080,JONGMYUNG,NaN,"Korea, Republic of",Asia,28,CrossFit Lagom,0,0.000000
86324,DAVID,NaN,United States,North America,37,CrossFit East Oahu,0,66.666667
133060,BRIAN,NaN,United States,North America,33,NaN,0,0.000000

In [33]:
# Incluindo texto nos campos nulos de acordo com a coluna
values = {'lastname': '-', 'first_name': '-', 'affiliate': 'not_affiliate'}
df_masc.fillna(value = values, inplace=True)

In [45]:
df_masc.isna().sum()
# Nenhum valor null

first_name       0
lastname         0
country          0
continent        0
age              0
affiliate        0
points           0
weight lifted    0
dtype: int64

## Análises

### Distribuição por país

In [35]:
# Quantos atletas há de cada país?
df_masc.country.value_counts()

United States     65145
Australia          8206
United Kingdom     6080
France             6038
Canada             5321
                  ...
Dominica              1
Laos                  1
Somalia               1
Djibouti              1
Guinea                1
Name: country, Length: 156, dtype: int64

In [36]:
# Porcentagem de atletas de cada país
df_masc.country.value_counts(normalize=True)

United States     0.473909
Australia         0.059696
United Kingdom    0.044230
France            0.043925
Canada            0.038709
                    ...
Dominica          0.000007
Laos              0.000007
Somalia           0.000007
Djibouti          0.000007
Guinea            0.000007
Name: country, Length: 156, dtype: float64

### Distribuição por continente

In [37]:
# Quantos atletas há de cada continente?
df_masc[['continent']].value_counts()

continent
North America    73659
Europe           34317
Oceania           9930
Asia              8194
South America     7076
Africa            4287
dtype: int64

In [38]:
# Porcentagem de atletas por continente
df_masc[['continent']].value_counts(normalize=True)

continent
North America    0.535846
Europe           0.249645
Oceania          0.072238
Asia             0.059609
South America    0.051476
Africa           0.031187
dtype: float64

### Distribuição de afiliados por continente

In [39]:
affiliate_continent = df_masc.groupby('continent')['affiliate'].nunique()
affiliate_continent

continent
Africa            392
Asia              931
Europe           3735
North America    5585
Oceania           715
South America     932
Name: affiliate, dtype: int64

### Distribuição de afiliados por país

In [40]:
affiliate_country = df_masc.groupby('country')['affiliate'].nunique()
affiliate_country

country
Afghanistan      3
Albania          6
Algeria         17
Andorra          7
Angola          13
              ...
Venezuela      136
Viet Nam        12
Yemen            4
Zambia           5
Zimbabwe        19
Name: affiliate, Length: 156, dtype: int64

### Distribuição de atletas por idade

In [41]:
athletes_age = df_masc[['age']].value_counts()
athletes_age

age
31     6500
32     6420
30     6363
33     6278
29     6182
34     6035
35     5974
36     5675
28     5609
37     5368
38     5267
27     5132
39     4990
40     4820
26     4438
41     4351
42     3976
25     3847
43     3510
44     3260
24     3185
45     3015
46     2597
23     2568
47     2435
48     2239
49     2013
22     1974
50     1917
51     1656
21     1520
52     1376
20     1194
53     1136
17     1004
54     1002
18      889
16      887
19      861
dtype: int64

In [48]:
max_age = df_masc['age'].max()
max_age

54

In [49]:
min_age = df_masc['age'].min()
min_age

16

In [43]:
df_masc.head(10)

,first_name,lastname,country,continent,age,affiliate,points,weight lifted
0,JEFFRE,ADLER,Canada,North America,27,CrossFit Wonderland,0,143.764172
1,SCOTT,PANCHIK,United States,North America,33,CrossFit Mentality,0,143.310658
2,TRAVIS,MEAD,United States,North America,34,Iron Valley CrossFit,0,156.462585
3,SAXON,PANCHIK,United States,North America,25,CrossFit Cliffside,0,143.310658
4,RICHARD,FRONING JR.,United States,North America,33,CrossFit Mayhem,0,141.496599
5,NOAH,OHLSEN,United States,North America,30,Peak 360 CrossFit,0,136.507937
6,SAMUEL,COURNOYER,Canada,North America,25,CrossFit Mayhem,0,148.752834
7,COLE,GREASHABER,United States,North America,21,CrossFit Lee's Summit (LS),0,137.414966
8,AGUSTIN,RICHELME,Argentina,South America,24,not_affiliate,0,136.054422
9,OLEG,LASCENKO,United Kingdom,Europe,23,CrossFit Abu Dhabi,0,136.054422

### Distribuição de pontos por idade

In [44]:
# Média de pontos por idade ou por faixa de idade