In [1]:
# importando bibliotecas
import pandas as pd
import numpy as np
# import re

## Carregando os dados

In [2]:
# Lendo os dados
open_masc = pd.read_csv('data/men_main_21.1.csv', sep=',', low_memory=False)

In [3]:
# Primeira visualização do Dataframe
open_masc.head(10)

,id,first_name,lastname,placing,country,continent,age,affiliate,height,weight,points,21.1,21.1 time,21.2,21.2 time,21.3,21.3 time,21.4,weight lifted
0,0,JEFFRE,ADLER,1,Canada,North America,27,CrossFit Wonderland,69 in,197 lb,101,20th (11:55),605,8th (9:14),225,27th (8:15),180,46th (317 lbs),317
1,1,SCOTT,PANCHIK,2,United States,North America,33,CrossFit Mentality,69 in,187 lb,141,33rd (12:25),605,47th (9:52),225,5th (7:48),180,56th (316 lbs),316
2,2,TRAVIS,MEAD,3,United States,North America,34,Iron Valley CrossFit,73 in,205 lb,165,87th (13:02),605,24th (9:38),225,48th (8:26),180,6th (345 lbs),345
3,3,SAXON,PANCHIK,4,United States,North America,25,CrossFit Cliffside,69 in,180 lb,217,5th (11:25),605,68th (9:59),225,87th (8:41),180,57th (316 lbs),316
4,4,RICHARD,FRONING JR.,5,United States,North America,33,CrossFit Mayhem,69 in,194 lb,254,58th (12:45),605,91st (10:04),225,5th (7:48),180,100th (312 lbs),312
5,5,NOAH,OHLSEN,6,United States,North America,30,Peak 360 CrossFit,67 in,190 lb,272,11th (11:41),605,21st (9:33),225,2nd (7:44),180,238th (301 lbs),301
6,6,SAMUEL,COURNOYER,7,Canada,North America,25,CrossFit Mayhem,180 cm,205 lb,276,158th (13:27),605,79th (10:02),225,20th (8:09),180,19th (328 lbs),328
7,7,COLE,GREASHABER,8,United States,North America,21,CrossFit Lee's Summit (LS),72 in,206 lb,403,82nd (13:01),605,68th (9:59),225,46th (8:25),180,207th (303 lbs),303
8,8,AGUSTIN,RICHELME,9,Argentina,South America,24,NaN,173 cm,83 kg,417,30th (12:19),605,137th (10:15),225,1st (7:40),180,249th (300 lbs),300
9,9,OLEG,LASCENKO,10,United Kingdom,Europe,23,CrossFit Abu Dhabi,175 cm,92 kg,428,53rd (12:43),605,22nd (9:34),225,102nd (8:46),180,251st (300 lbs),300

In [4]:
# Verificando o "tamanho" do df
open_masc.shape

(137464, 19)

In [5]:
# Verificando quais são as colunas originais do df
open_masc.columns

Index(['id', 'first_name', 'lastname', 'placing', 'country', 'continent',
       'age', 'affiliate', 'height ', ' weight', 'points', '21.1', '21.1 time',
       '21.2', '21.2 time', '21.3', '21.3 time', '21.4', 'weight lifted'],
      dtype='object')

In [6]:
# Primeira descrição dos dados numéricos, 
# verifica-se que algumas colunas de valores estão em string e 
# precisam ser convertidos para possibilitar que os calculos sejam feitos
open_masc.describe()

                  id
count  137464.000000
mean    68731.500000
std     39682.583039
min         0.000000
25%     34365.750000
50%     68731.500000
75%    103097.250000
max    137463.000000

In [7]:
# Visualizando todos os países listados
# Verificou-se a necessidade de remover uma linha com dados inconsistentes
country = np.array(open_masc['country'])
unique_country = np.unique(country)
print(unique_country)

['57646' 'Afghanistan' 'Albania' 'Algeria' 'Andorra' 'Angola' 'Argentina'
 'Armenia' 'Australia' 'Austria' 'Azerbaijan' 'Bahamas' 'Bahrain'
 'Bangladesh' 'Barbados' 'Belarus' 'Belgium' 'Belize' 'Benin' 'Bolivia'
 'Bosnia and Herzegovina' 'Botswana' 'Brazil' 'Brunei Darussalam'
 'Bulgaria' 'Cambodia' 'Cameroon' 'Canada' 'Cape Verde' 'Chile' 'China'
 'Colombia' 'Congo, The Democratic Republic of the' 'Costa Rica' 'Croatia'
 'Cyprus' 'Czech Republic' "Côte d'Ivoire" 'Denmark' 'Djibouti' 'Dominica'
 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador' 'Estonia' 'Ethiopia'
 'Fiji' 'Finland' 'France' 'Georgia' 'Germany' 'Ghana' 'Greece'
 'Guatemala' 'Guinea' 'Guyana' 'Haiti' 'Honduras' 'Hungary' 'Iceland'
 'India' 'Indonesia' 'Iran' 'Iraq' 'Ireland' 'Israel' 'Italy' 'Jamaica'
 'Japan' 'Jordan' 'Kazakhstan' 'Kenya' 'Korea, Republic of' 'Kosovo'
 'Kuwait' 'Kyrgyzstan' 'Laos' 'Latvia' 'Lebanon' 'Libya' 'Liechtenstein'
 'Lithuania' 'Luxembourg' 'Macedonia' 'Madagascar' 'Malawi' 'Malaysia'
 'Maldives' 'Malta' 'Mauritius' 'Mexico' 'Moldova' 'Mongolia' 'Montenegro'
 'Morocco' 'Mozambique' 'Namibia' 'Nauru' 'Nepal' 'Netherlands'
 'New Zealand' 'Nicaragua' 'Nigeria' 'Norway' 'Oman' 'Pakistan'
 'Palestinian Territory' 'Panama' 'Papua New Guinea' 'Paraguay' 'Peru'
 'Philippines' 'Poland' 'Portugal' 'Qatar' 'Romania' 'Russian Federation'
 'Saint Kitts and Nevis' 'Saint Lucia' 'Samoa' 'San Marino' 'Saudi Arabia'
 'Senegal' 'Serbia' 'Seychelles' 'Singapore' 'Slovakia' 'Slovenia'
 'Somalia' 'South Africa' 'Spain' 'Sri Lanka' 'Sudan' 'Suriname' 'Sweden'
 'Switzerland' 'Syrian Arab Republic' 'Tanzania' 'Thailand' 'Tonga'
 'Trinidad and Tobago' 'Tunisia' 'Turkey' 'Uganda' 'Ukraine'
 'United Arab Emirates' 'United Kingdom' 'United States' 'Uruguay'
 'Uzbekistan' 'Vanuatu' 'Venezuela' 'Viet Nam' 'Yemen' 'Zambia' 'Zimbabwe']

In [8]:
# Conferindo os continentes listados, 
# verificou-se a necessidade de remover dados inconsistentes
continent = np.array(open_masc['continent'])
unique_continent = np.unique(continent)
print(unique_continent)

['Africa' 'Asia' 'Europe' 'North America' 'Oceania' 'South America'
 'United Kingdom']

### Limpeza os dados

In [9]:
# Novo Dataframe apenas com as colunas que serão analisadas
df_masc = open_masc[['first_name', 'lastname', 'country', 
'continent', 'age', 'affiliate', 'points', 'weight lifted']]
df_masc.head(10)

,first_name,lastname,country,continent,age,affiliate,points,weight lifted
0,JEFFRE,ADLER,Canada,North America,27,CrossFit Wonderland,101,317
1,SCOTT,PANCHIK,United States,North America,33,CrossFit Mentality,141,316
2,TRAVIS,MEAD,United States,North America,34,Iron Valley CrossFit,165,345
3,SAXON,PANCHIK,United States,North America,25,CrossFit Cliffside,217,316
4,RICHARD,FRONING JR.,United States,North America,33,CrossFit Mayhem,254,312
5,NOAH,OHLSEN,United States,North America,30,Peak 360 CrossFit,272,301
6,SAMUEL,COURNOYER,Canada,North America,25,CrossFit Mayhem,276,328
7,COLE,GREASHABER,United States,North America,21,CrossFit Lee's Summit (LS),403,303
8,AGUSTIN,RICHELME,Argentina,South America,24,NaN,417,300
9,OLEG,LASCENKO,United Kingdom,Europe,23,CrossFit Abu Dhabi,428,300

In [10]:
# removendo inconsistencias de paises e continentes
filtro1 = df_masc['country'] != '57646'
df_masc = df_masc[filtro1]

In [11]:
country = np.array(df_masc['country'])
unique_country = np.unique(country)
print(unique_country)

['Afghanistan' 'Albania' 'Algeria' 'Andorra' 'Angola' 'Argentina'
 'Armenia' 'Australia' 'Austria' 'Azerbaijan' 'Bahamas' 'Bahrain'
 'Bangladesh' 'Barbados' 'Belarus' 'Belgium' 'Belize' 'Benin' 'Bolivia'
 'Bosnia and Herzegovina' 'Botswana' 'Brazil' 'Brunei Darussalam'
 'Bulgaria' 'Cambodia' 'Cameroon' 'Canada' 'Cape Verde' 'Chile' 'China'
 'Colombia' 'Congo, The Democratic Republic of the' 'Costa Rica' 'Croatia'
 'Cyprus' 'Czech Republic' "Côte d'Ivoire" 'Denmark' 'Djibouti' 'Dominica'
 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador' 'Estonia' 'Ethiopia'
 'Fiji' 'Finland' 'France' 'Georgia' 'Germany' 'Ghana' 'Greece'
 'Guatemala' 'Guinea' 'Guyana' 'Haiti' 'Honduras' 'Hungary' 'Iceland'
 'India' 'Indonesia' 'Iran' 'Iraq' 'Ireland' 'Israel' 'Italy' 'Jamaica'
 'Japan' 'Jordan' 'Kazakhstan' 'Kenya' 'Korea, Republic of' 'Kosovo'
 'Kuwait' 'Kyrgyzstan' 'Laos' 'Latvia' 'Lebanon' 'Libya' 'Liechtenstein'
 'Lithuania' 'Luxembourg' 'Macedonia' 'Madagascar' 'Malawi' 'Malaysia'
 'Maldives' 'Malta' 'Mauritius' 'Mexico' 'Moldova' 'Mongolia' 'Montenegro'
 'Morocco' 'Mozambique' 'Namibia' 'Nauru' 'Nepal' 'Netherlands'
 'New Zealand' 'Nicaragua' 'Nigeria' 'Norway' 'Oman' 'Pakistan'
 'Palestinian Territory' 'Panama' 'Papua New Guinea' 'Paraguay' 'Peru'
 'Philippines' 'Poland' 'Portugal' 'Qatar' 'Romania' 'Russian Federation'
 'Saint Kitts and Nevis' 'Saint Lucia' 'Samoa' 'San Marino' 'Saudi Arabia'
 'Senegal' 'Serbia' 'Seychelles' 'Singapore' 'Slovakia' 'Slovenia'
 'Somalia' 'South Africa' 'Spain' 'Sri Lanka' 'Sudan' 'Suriname' 'Sweden'
 'Switzerland' 'Syrian Arab Republic' 'Tanzania' 'Thailand' 'Tonga'
 'Trinidad and Tobago' 'Tunisia' 'Turkey' 'Uganda' 'Ukraine'
 'United Arab Emirates' 'United Kingdom' 'United States' 'Uruguay'
 'Uzbekistan' 'Vanuatu' 'Venezuela' 'Viet Nam' 'Yemen' 'Zambia' 'Zimbabwe']

In [12]:
continent = np.array(df_masc['continent'])
unique_continent = np.unique(continent)
print(unique_continent)

['Africa' 'Asia' 'Europe' 'North America' 'Oceania' 'South America']

In [13]:
# Convertendo a coluna age (idade) de 'string' para numérico
df_masc['age'] = pd.to_numeric(df_masc['age'])
df_masc.head(10)

,first_name,lastname,country,continent,age,affiliate,points,weight lifted
0,JEFFRE,ADLER,Canada,North America,27,CrossFit Wonderland,101,317
1,SCOTT,PANCHIK,United States,North America,33,CrossFit Mentality,141,316
2,TRAVIS,MEAD,United States,North America,34,Iron Valley CrossFit,165,345
3,SAXON,PANCHIK,United States,North America,25,CrossFit Cliffside,217,316
4,RICHARD,FRONING JR.,United States,North America,33,CrossFit Mayhem,254,312
5,NOAH,OHLSEN,United States,North America,30,Peak 360 CrossFit,272,301
6,SAMUEL,COURNOYER,Canada,North America,25,CrossFit Mayhem,276,328
7,COLE,GREASHABER,United States,North America,21,CrossFit Lee's Summit (LS),403,303
8,AGUSTIN,RICHELME,Argentina,South America,24,NaN,417,300
9,OLEG,LASCENKO,United Kingdom,Europe,23,CrossFit Abu Dhabi,428,300

In [ ]:
df_masc['weight lifted'] = df_masc['weight lifted'].fillna('0')
df_masc.head(10)

,first_name,lastname,country,continent,age,affiliate,points,weight lifted
0,JEFFRE,ADLER,Canada,North America,27,CrossFit Wonderland,101,317
1,SCOTT,PANCHIK,United States,North America,33,CrossFit Mentality,141,316
2,TRAVIS,MEAD,United States,North America,34,Iron Valley CrossFit,165,345
3,SAXON,PANCHIK,United States,North America,25,CrossFit Cliffside,217,316
4,RICHARD,FRONING JR.,United States,North America,33,CrossFit Mayhem,254,312
5,NOAH,OHLSEN,United States,North America,30,Peak 360 CrossFit,272,301
6,SAMUEL,COURNOYER,Canada,North America,25,CrossFit Mayhem,276,328
7,COLE,GREASHABER,United States,North America,21,CrossFit Lee's Summit (LS),403,303
8,AGUSTIN,RICHELME,Argentina,South America,24,NaN,417,300
9,OLEG,LASCENKO,United Kingdom,Europe,23,CrossFit Abu Dhabi,428,300

In [17]:
df_masc['weight lifted'] = pd.to_numeric(df_masc['weight lifted'])
df_masc.describe()

ValueError: Unable to parse string "100900th (--)" at position 47828

## Análises

In [ ]:
# Quantos atletas há de cada continente?
open_masc[['continent']].value_counts()

continent
North America     73659
Europe            34317
Oceania            9930
Asia               8194
South America      7076
Africa             4287
United Kingdom        1
dtype: int64

In [ ]:
# Porcentagem de atletas por continente
open_masc[['continent']].value_counts(normalize=True)

continent
North America     0.535842
Europe            0.249644
Oceania           0.072237
Asia              0.059608
South America     0.051475
Africa            0.031186
United Kingdom    0.000007
dtype: float64

In [ ]:
# Quantos atletas há de cada país?
open_masc.country.value_counts()

United States     65145
Australia          8206
United Kingdom     6080
France             6038
Canada             5321
                  ...
Dominica              1
Djibouti              1
Somalia               1
Kyrgyzstan            1
Guinea                1
Name: country, Length: 157, dtype: int64

In [ ]:
# Porcentagem de atletas de cada país
open_masc.country.value_counts(normalize=True)

United States     0.473906
Australia         0.059696
United Kingdom    0.044230
France            0.043924
Canada            0.038708
                    ...
Dominica          0.000007
Djibouti          0.000007
Somalia           0.000007
Kyrgyzstan        0.000007
Guinea            0.000007
Name: country, Length: 157, dtype: float64